<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}<img src="./assets/images/hungry.png" alt="hungry smiley" width="40px">{{else}}<img src="./assets/images/plate.png" alt="plate with fork and knife" width="40px">{{/if}} 
	</button>

	<button class="delete-burger" data-id="{{this.id}}"><img src="./assets/images/trashcan.png" alt="trashcan" width="40px"></button>
</li>
